params {
	input = "/scratch/hematopath/hemoseq_v2/mutation_detector_nextflow/sample_sheet.csv"
	bedfile = "/scratch/hematopath/hemoseq_v2/mutation_detector_nextflow/bedfile/myeloid_coordiates_file.bed"
  qualimap_bedfile = "/scratch/hematopath/hemoseq_v2/mutation_detector_nextflow/bedfile/myeloid_coordiates_file_qualimap.bed"
  regions = "/scratch/hematopath/hemoseq_v2/mutation_detector_nextflow/bedfile/myeloid_coordiates_file_regions.txt"
  
	adaptors = "/scratch/hematopath/hemoseq_v2/mutation_detector_nextflow/adaptors/smmip_adaptors.fa"
	sequences = "/scratch/hematopath/hemoseq_v2/mutation_detector_nextflow/sequences/"
	genome = "/scratch/hematopath/reference_genomes/hg19_broad/hg19_all.fasta"
	samtools = "/scratch/hematopath/programs/samtools-1.7/samtools"
	bedtools = "/scratch/hematopath/programs/bedtools/bedtools"
	
	site1 = "/scratch/hematopath/reference_genomes/dbSNPGATK/Mills_and_1000G_gold_standard.indels.hg19.sites.vcf"
  site2 = "/scratch/hematopath/reference_genomes/dbSNPGATK/dbsnp_138.hg19.vcf"
  site3 = "/scratch/hematopath/reference_genomes/dbSNPGATK/1000G_phase1.snps.high_confidence.hg19.sites.vcf"

	ea_utils_path= "/scratch/hematopath/programs/ea-utils/clipper"
	picard_path = "/scratch/hematopath/programs/picard-tools-2.17.1/picard-2.17.1.jar"
	pear_path = "/scratch/hematopath/programs/pear/bin/pear"
	GATK38_path = "/scratch/hematopath/programs/GenomeAnalysisTK-3.8-1/GenomeAnalysisTK.jar"
  qualimap_path = "/scratch/hematopath/programs/qualimap_v2.2.1"
  freebayes_path = "/scratch/hematopath/programs/freebayes/bin/freebayes"
  platypus_path = "/scratch/hematopath/programs/Platypus/bin/Platypus.py"
  vardict_path = "/scratch/hematopath/programs/VarDictJava/build/install/VarDict/bin"
  varscan_path = "/scratch/hematopath/programs/VarScan.v2.3.9.jar"
  bcftools_path = "/scratch/hematopath/programs/samtools-1.7/bcftools-1.9/bcftools"
  strelka_path = "/scratch/hematopath/programs/strelka2/bin"
  NA12878_bam = "/scratch/hematopath/reference_genomes/NA12878/NA12878.final.bam"
  lofreq_path = "/scratch/hematopath/programs/lofreq/bin/lofreq"
  
  getitd_path = "/scratch/hematopath/programs/getitd"
  forward_primer = "GCTTTTTCTGTCAAAGAAAGGAG CTCAGCTCAGAGTCAATCTGC TGTCTTTGCAGGGAAGGT GCAGCATTTCTTTTCCATTGG GCCGGTCACCTGTACCATCTGTAG GTCAGTTAGGAATAGGCAGTTCTG"
  reverse_primer = "GGTGATTTTCGTGGAAGTG GGGTCATCATCTTGAGTTCTG GGAAGGACAGCAACAAAGATGCAC GAGTCTCAATCCAGGTTGCCG AAGAAATGCTGCAGAAAC GGAAACTCCCATTTGAGA"
  
  annovar2_path = "/scratch/hematopath/programs/annovar_latest/annovar/"
  
  coverview_path = "/scratch/hematopath/programs/CoverView-1.4.3"
  coverview_script_path = "/scratch/hematopath/hemoseq_v2/mutation_detector_nextflow/scripts/coverview.py"
  coverview_report_path = "/scratch/hematopath/hemoseq_v2/mutation_detector_nextflow/scripts/coverview_report.py"
  
  cava_path = "/scratch/hematopath/programs/CAVA-1.2.3/"
  cava_script_path = "/scratch/hematopath/hemoseq_v2/mutation_detector_nextflow/scripts/cava.py"
  
  coveragePlot_script = "/scratch/hematopath/hemoseq_v2/mutation_detector_nextflow/scripts/coverageplot.py"
  format_platypus_script = "/scratch/hematopath/hemoseq_v2/mutation_detector_nextflow/scripts/platypusoutput-format.py"
  format_freebayes_script = "/scratch/hematopath/hemoseq_v2/mutation_detector_nextflow/scripts/freebayesoutput-format.py"
  format_vardict_script = "/scratch/hematopath/hemoseq_v2/mutation_detector_nextflow/scripts/vardictoutput-format.py"
  format_combined_script = "/scratch/hematopath/hemoseq_v2/mutation_detector_nextflow/scripts/combineoutput-format.py"
  format_somaticseq_script = "/scratch/hematopath/hemoseq_v2/mutation_detector_nextflow/scripts/somaticseqoutput-format.py"
  merge_csvs_script = "/scratch/hematopath/hemoseq_v2/mutation_detector_nextflow/scripts/merge-csv.py"
}

executor {
    cpus   = 25
    name   = 'lsf'
}
